* {
  box-sizing: border-box;
}

body {
  background-color: #fb6b6b;
  height: 100vh;
  overflow-y: scroll;
}

.App {
  height: 90vh;
}

/* Tela inicial */
.tela-inicial {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-logo {
  display: flex;
  justify-content: center;
}

.logo-grande {
  width: 100px;
  height: 130px;
}

.titulo {
  font-size: 34px;
  font-family: "Righteous", sans-serif;
  color: #ffffff;
  text-align: center;
  padding: 35px 35px;
}

.botao-iniciar {
  border: 1px solid #d70900;
  box-shadow: 1px 2px 5px #d70900;
  border-radius: 5px;
  background-color: #ffffff;
  color: #d70900;
  font-size: 18px;
  font-weight: 400;
  font-family: "Recursive", sans-serif;
  width: 246px;
  height: 54px;
  cursor: pointer;
}

/* Deck */

.logo-deck {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.logo-pequeno {
  width: 52px;
  height: 60px;
}

.titulo-deck {
  font-size: 30px;
  font-family: "Righteous", sans-serif;
  color: #ffffff;
  text-align: center;
  padding: 15px 20px;
}

/* estrutura do deck*/
.container-deck {
  padding-top: 3vh;
}
.deck {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3vh;
}

.flashcard {
  background-color: #ffffff;
  border-radius: 5px;
  width: 270px;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.pergunta {
  font-family: "Recursive", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 15px;
}

ion-icon {
  font-size: 28px;
  padding: 10px 10px;
}

/* Rodapé Deck*/
.rodape-deck {
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.texto-concluidos {
  color: #333333;
  font-family: "Recursive", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

/* Pergunta */

.questoes {
  display: flex;
  justify-content: center;
}
.container-pergunta {
  background-color: #ffffd4;
  width: 270px;
  height: 120px;
  border-radius: 5px;
  margin-top: 1vh;
}

.pergunta-card {
  color: #333333;
  font-family: "Recursive", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 15px 15px;
}

.virar-pergunta {
  display: flex;
  justify-content: right;
  padding: 25px 15px;
}

/* Resposta */
.container {
  padding-top: 3vh;
  height: 140vh;
}

.respostas {
  display: flex;
  justify-content: center;
}

.container-resposta {
  background-color: #ffffd4;
  width: 270px;
  height: 120px;
  border-radius: 5px;
  margin-top: 1vh;
}
.resposta-card {
  color: #333333;
  font-family: "Recursive", sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 85vw;
  padding: 10px 7px;
}

.container-opcoes {
  display: flex;
  justify-content: center;
  padding-top: 2vh;
}

.opcoes {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.texto {
  color: #ffffff;
  font-size: 12px;
  font-family: "Recursive", sans-serif;
  text-align: center;
}

.vermelho {
  background-color: #ff3030;
  width: 75px;
  height: 37px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.laranja {
  background-color: #ff922e;
  width: 75px;
  height: 37px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.verde {
  background-color: #2fbe34;
  width: 75px;
  height: 37px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
}
